<section class="">
  <h6 class="text-xs mb-2">
    <span
      [routerLink]="['/customers/customer-summary']"
      routerLinkActive="router-link-active"
      class="text-blue-500 cursor-pointer"
      >Customers</span
    >
    >
    <span
      [routerLink]="['/customers/customer-summary']"
      routerLinkActive="router-link-active"
      class="text-blue-500 cursor-pointer"
      >Customers Summary</span
    >

    > {{ customer?.code }}
  </h6>
  <div class="flex items-end justify-between">
    <div>
      <h1 class="text-xl font-semibold">Customer Details</h1>
      <h5 class="text-xs font-thin">{{ customer?.code }}</h5>
    </div>
    <div>
      <button
        [disabled]="customer?.status == 2"
        class="mr-2 btn-lg btn-success"
        [ngClass]="{ 'btn-disable': customer?.status == 2 }"
        (click)="updateStatus(2)"
      >
        <i class="fa-solid fa-circle-check mr-2"></i>Mark as Approved
      </button>
      <button
        *hasPermission="[[5], sysuser]"
        [disabled]="customer?.status == 0"
        [ngClass]="{ 'btn-disable': customer?.status == 0 }"
        class="mr-2 btn-lg btn-primary"
        (click)="updateStatus(0)"
      >
        <i class="fa-solid fa-circle-check mr-2"></i>Mark as Pending
      </button>
      <button
        *hasPermission="[[5], sysuser]"
        [disabled]="customer?.status == -2"
        class="mr-2 btn-lg btn-danger"
        [ngClass]="{ 'btn-disable': customer?.status == -2 }"
        (click)="updateStatus(-2)"
      >
        <i class="fa-solid fa-circle-check mr-2"></i>Mark as Rejected
      </button>
    </div>
  </div>

  <div *ngIf="!LoadUI" class="card">
    <div class="flex flex-wrap">
      <div class="w-full mt-5">
        <p-skeleton styleClass="mb-2" />
        <p-skeleton width="30rem" styleClass="mb-2" />
        <p-skeleton width="10rem" styleClass="mb-2" />
        <p-skeleton height="10rem" styleClass="mb-2" />
        <p-skeleton width="10rem" height="4rem" />
      </div>
    </div>
  </div>

  <!-- customer-detail.component.html -->
  <div
    *ngIf="LoadUI"
    class="w-full mx-auto p-6 bg-white mt-5 rounded-lg shadow-md"
  >
    <!-- Supplier Information Section -->
    <div class="mb-8">
      <div class="w-full flex items-center justify-between">
        <h3 class="text-xl font-semibold text-gray-700 mb-4">
          Basic Information
        </h3>

        <!-- <button (click)="openPatientEditModal()" class="btn btn-gray">
          <i class="fa-solid fa-pen-to-square"></i> Edit
        </button> -->
      </div>

      <div class="grid grid-cols-1 md:grid-cols-4 gap-4 mb-6">
        <div class="space-y-4">
          <div>
            <p class="text-sm text-gray-500">Code</p>
            <p class="font-medium">{{ customer?.code }}</p>
          </div>
          <div>
            <p class="text-sm text-gray-500">Name</p>
            <p class="font-medium">
              {{ customer?.initials }} {{ customer?.surname }}
            </p>
          </div>
          <div>
            <p class="text-sm text-gray-500">Given Name</p>
            <p class="font-medium">
              {{ customer?.given_name }}
            </p>
          </div>

          <div>
            <p class="text-sm text-gray-500">NIC</p>
            <p class="font-medium">
              {{ customer?.nic }}
              <span *ngIf="customer?.nic == null">[NOT UPDATED YET]</span>
            </p>
          </div>
        </div>

        <div class="space-y-4">
          <div>
            <p class="text-sm text-gray-500">Date of Birth</p>
            <p class="font-medium">
              {{ customer?.dob | date: "mediumDate" }}
              <span *ngIf="customer?.dob == null">[NOT UPDATED YET]</span>
            </p>
          </div>
          <div>
            <p class="text-sm text-gray-500">Age</p>
            <p class="font-medium">
              <span *ngIf="customer?.dob">{{ age }}</span>
              <span *ngIf="customer?.dob == null">[DoB is not provided]</span>
            </p>
          </div>
          <div>
            <p class="text-sm text-gray-500">Status</p>
            <p
              *ngIf="customer?.status == 2"
              class="badge badge-success w-16 mt-1 text-center"
            >
              Active
            </p>

            <p
              *ngIf="customer?.status == 0"
              class="badge badge-primary w-16 mt-1 text-center"
            >
              Pending
            </p>
            <p
              *ngIf="customer?.status == -2"
              class="badge badge-danger w-24 mt-1 text-center"
            >
              Rejected
            </p>
          </div>
        </div>

        <div class="space-y-4">
          <div>
            <p class="text-sm text-gray-500">Contact Number</p>
            <p class="font-medium">
              {{ customer?.phone }}
              <span *ngIf="customer?.phone == null">[NOT UPDATED YET]</span>
            </p>
          </div>
          <div>
            <p class="text-sm text-gray-500">WhatsApp</p>
            <p class="font-medium">
              {{ customer?.whatsapp }}
              <span *ngIf="customer?.whatsapp == null">[NOT UPDATED YET]</span>
            </p>
          </div>
          <div>
            <p class="text-sm text-gray-500">Address</p>
            <p class="font-medium">
              {{ customer?.address_1 }}
              <br />
              {{ customer?.address_2 }}
              <br />
              {{ customer?.address_3 }}
            </p>
          </div>
        </div>
        <div class="space-y-4">
          <div>
            <p class="text-sm text-gray-500">No of Guarantees</p>
            <p class="font-medium">{{ guarantees.length }}</p>
          </div>
          <div>
            <p class="text-sm text-gray-500">No of Invoices</p>
            <p class="font-medium">1</p>
          </div>

          <div>
            <p class="text-sm text-gray-500">Created By</p>
            <p class="font-medium">
              {{ customer?.created_by.firstname }}
              {{ customer?.created_by.lastname }}
            </p>
          </div>

          <div>
            <p class="text-sm text-gray-500">Created On</p>
            <p class="font-medium">
              {{ customer?.created_on | date: "mediumDate" }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    *ngIf="LoadUI"
    class="w-full mx-auto p-6 bg-white mt-5 rounded-lg shadow-md"
  >
    <div class="row">
      <div class="card">
        <p-tabs value="0">
          <p-tablist>
            <p-tab value="0">Remarks</p-tab>
            <p-tab value="1">Guarantees</p-tab>
            <p-tab value="2">Vehicles</p-tab>
            <p-tab value="3">Loan Files</p-tab>
          </p-tablist>
          <p-tabpanels>
            <p-tabpanel value="0">
              <app-note [f_key]="id" [type]="'CUSTOMER'"></app-note>
            </p-tabpanel>
            <p-tabpanel value="1">
              <div class="flex items-end justify-end">
                <button (click)="openAddGuaranteeModal()" class="add_btn">
                  <i class="fa-solid fa-plus mr-2"></i>Add Guarantee
                </button>
              </div>
              <div class="card">
                <div class="mt-4">
                  <p-table
                    #dt1
                    [columns]="cols"
                    [value]="guarantees"
                    [paginator]="false"
                    [showCurrentPageReport]="false"
                    [responsive]="false"
                    [autoLayout]="true"
                    styleClass="p-datatable-sm p-datatable-striped"
                    [rowHover]="true"
                  >
                    <ng-template pTemplate="header" let-columns>
                      <tr class="bg-[#ff820d] text-white text-sm">
                        <th
                          *ngFor="let col of columns"
                          [pSortableColumn]="col.field"
                          [pSortableColumnDisabled]="col.sortable"
                          [style.width]="col.width"
                          class="px-3 py-2 text-center font-medium"
                        >
                          {{ col.header }}
                          <p-sortIcon
                            *ngIf="!col.sortable"
                            [field]="col.field"
                            ariaLabel="Activate to sort"
                            ariaLabelDesc="Activate to sort in descending order"
                            ariaLabelAsc="Activate to sort in ascending order"
                            styleClass="ml-2"
                          ></p-sortIcon>
                        </th>
                      </tr>
                    </ng-template>

                    <ng-template
                      pTemplate="body"
                      let-rowData
                      let-columns="columns"
                    >
                      <tr class="hover:bg-orange-50 transition">
                        <td
                          *ngFor="let col of columns; let i = index"
                          class="px-3 py-2 text-sm text-center"
                          [ngSwitch]="col.field"
                        >
                          <div class="text-start" *ngSwitchCase="'name'">
                            {{ rowData?.initials }} {{ rowData?.surname }}
                          </div>

                          <div class="text-start" *ngSwitchCase="'phone'">
                            {{ rowData?.phone }}
                          </div>

                          <div class="text-start" *ngSwitchCase="'nic'">
                            {{ rowData?.nic }}
                          </div>

                          <div *ngSwitchCase="'status'">
                            <span
                              *ngIf="rowData[col.field] == 0"
                              class="badge badge-primary"
                            >
                              Pending
                            </span>
                            <span
                              *ngIf="rowData[col.field] == 2"
                              class="badge badge-success"
                            >
                              Approved
                            </span>

                            <span
                              *ngIf="rowData[col.field] == -2"
                              class="badge badge-danger"
                            >
                              Rejected
                            </span>
                          </div>

                          <div class="text-start" *ngSwitchCase="'created_on'">
                            {{ rowData?.created_on | date: "mediumDate" }}
                          </div>

                          <div *ngSwitchCase="'actions'">
                            <button
                              class="btn btn-outline-view"
                              routerLink="/guarantees/guarantee-details/{{
                                rowData.id
                              }}"
                            >
                              View
                            </button>
                          </div>
                        </td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>
              </div>
            </p-tabpanel>
            <p-tabpanel value="2">
              <div class="flex items-end justify-end">
                <button (click)="openAddVehicleModal()" class="add_btn">
                  <i class="fa-solid fa-plus mr-2"></i>Add Vehicle
                </button>
              </div>
              <div class="card">
                <div class="mt-4">
                  <p-table
                    #dt1
                    [columns]="vehicle_cols"
                    [value]="vehicles"
                    [paginator]="false"
                    [showCurrentPageReport]="false"
                    [responsive]="false"
                    [autoLayout]="true"
                    styleClass="p-datatable-sm p-datatable-striped"
                    [rowHover]="true"
                  >
                    <ng-template pTemplate="header" let-columns>
                      <tr class="bg-[#ff820d] text-white text-sm">
                        <th
                          *ngFor="let col of columns"
                          [pSortableColumn]="col.field"
                          [pSortableColumnDisabled]="col.sortable"
                          [style.width]="col.width"
                          class="px-3 py-2 text-center font-medium"
                        >
                          {{ col.header }}
                          <p-sortIcon
                            *ngIf="!col.sortable"
                            [field]="col.field"
                            ariaLabel="Activate to sort"
                            ariaLabelDesc="Activate to sort in descending order"
                            ariaLabelAsc="Activate to sort in ascending order"
                            styleClass="ml-2"
                          ></p-sortIcon>
                        </th>
                      </tr>
                    </ng-template>

                    <ng-template
                      pTemplate="body"
                      let-rowData
                      let-columns="columns"
                    >
                      <tr class="hover:bg-orange-50 transition">
                        <td
                          *ngFor="let col of columns; let i = index"
                          class="px-3 py-2 text-sm text-center"
                          [ngSwitch]="col.field"
                        >
                          <div class="text-start" *ngSwitchCase="'code'">
                            {{ rowData?.code }}
                          </div>

                          <div class="text-start" *ngSwitchCase="'make'">
                            {{ rowData?.make.make }}
                          </div>

                          <div class="text-start" *ngSwitchCase="'model'">
                            {{ rowData?.model.model }}
                          </div>

                          <div class="text-start" *ngSwitchCase="'reg_no'">
                            {{ rowData?.reg_no }}
                          </div>

                          <div *ngSwitchCase="'status'">
                            <span
                              *ngIf="rowData[col.field] == 0"
                              class="badge badge-primary"
                            >
                              Pending
                            </span>
                            <span
                              *ngIf="rowData[col.field] == 2"
                              class="badge badge-success"
                            >
                              Approved
                            </span>

                            <span
                              *ngIf="rowData[col.field] == -2"
                              class="badge badge-danger"
                            >
                              Rejected
                            </span>
                          </div>

                          <div class="text-start" *ngSwitchCase="'created_on'">
                            {{ rowData?.created_on | date: "mediumDate" }}
                          </div>

                          <div *ngSwitchCase="'actions'">
                            <button
                              class="btn btn-outline-view"
                              routerLink="/vehicles/vehicle-details/{{
                                rowData.id
                              }}"
                            >
                              View
                            </button>
                          </div>
                        </td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>
              </div>
            </p-tabpanel>
            <p-tabpanel value="3">
              <div class="flex items-end justify-end">
                <button (click)="openAddLoanFileModal()" class="add_btn">
                  <i class="fa-solid fa-plus mr-2"></i>Add Loan File
                </button>
              </div>
              <div class="card">
                <div class="mt-4">
                  <p-table
                    #dt1
                    [columns]="loan_file_cols"
                    [value]="loan_files"
                    [paginator]="false"
                    [showCurrentPageReport]="false"
                    [responsive]="false"
                    [autoLayout]="true"
                    styleClass="p-datatable-sm p-datatable-striped"
                    [rowHover]="true"
                  >
                    <ng-template pTemplate="header" let-columns>
                      <tr class="bg-[#ff820d] text-white text-sm">
                        <th
                          *ngFor="let col of columns"
                          [pSortableColumn]="col.field"
                          [pSortableColumnDisabled]="col.sortable"
                          [style.width]="col.width"
                          class="px-3 py-2 text-center font-medium"
                        >
                          {{ col.header }}
                          <p-sortIcon
                            *ngIf="!col.sortable"
                            [field]="col.field"
                            ariaLabel="Activate to sort"
                            ariaLabelDesc="Activate to sort in descending order"
                            ariaLabelAsc="Activate to sort in ascending order"
                            styleClass="ml-2"
                          ></p-sortIcon>
                        </th>
                      </tr>
                    </ng-template>

                    <ng-template
                      pTemplate="body"
                      let-rowData
                      let-columns="columns"
                    >
                      <tr class="hover:bg-orange-50 transition">
                        <td
                          *ngFor="let col of columns; let i = index"
                          class="px-3 py-2 text-sm text-center"
                          [ngSwitch]="col.field"
                        >
                          <div class="text-start" *ngSwitchCase="'code'">
                            {{ rowData?.code }}
                          </div>

                          <div class="text-start" *ngSwitchCase="'branch'">
                            {{ rowData?.branch_id.name }}
                          </div>

                          <div class="text-start" *ngSwitchCase="'eir'">
                            {{ rowData?.eir }}
                          </div>

                          <div class="text-start" *ngSwitchCase="'period'">
                            {{ formatPeriod(rowData?.period) }}
                          </div>
                          <div class="text-start" *ngSwitchCase="'loan_amount'">
                            {{ rowData?.loan_amount | number: "2.2" }}
                          </div>

                          <div *ngSwitchCase="'status'">
                            <span
                              *ngIf="rowData[col.field] == 0"
                              class="badge badge-primary"
                            >
                              Pending
                            </span>
                            <span
                              *ngIf="rowData[col.field] == 2"
                              class="badge badge-success"
                            >
                              Approved
                            </span>

                            <span
                              *ngIf="rowData[col.field] == -2"
                              class="badge badge-danger"
                            >
                              Rejected
                            </span>
                          </div>

                          <div class="text-start" *ngSwitchCase="'created_on'">
                            {{ rowData?.created_on | date: "mediumDate" }}
                          </div>

                          <div *ngSwitchCase="'actions'">
                            <button
                              class="btn btn-outline-view"
                              routerLink="/vehicles/vehicle-details/{{
                                rowData.id
                              }}"
                            >
                              View
                            </button>
                          </div>
                        </td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>
              </div>
            </p-tabpanel>
          </p-tabpanels>
        </p-tabs>
      </div>
    </div>
  </div>
</section>

<app-add-guarantee-modal
  [cus_id]="id"
  (parentFun)="getGuarantees()"
></app-add-guarantee-modal>

<app-add-vehicle-modal
  [cus_id]="id"
  (parentFun)="getVehicles()"
></app-add-vehicle-modal>

<app-add-loan-file-modal
  [cus_id]="id"
  (parentFun)="getLoanFiles()"
></app-add-loan-file-modal>
