<section class="">
  <h6 class="text-xs mb-2">Settings</h6>
  <h1 class="text-xl font-semibold">Settings</h1>
  <h5 class="text-xs font-thin">Alter General Settings of your ERP system</h5>

  <div *ngIf="!LoadUI">
    <div class="card">
      <div
        class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 gap-6"
      >
        <p-skeleton height="4rem" />
        <p-skeleton height="4rem" />
        <p-skeleton height="4rem" />
        <p-skeleton height="4rem" />
        <p-skeleton height="4rem" />
        <p-skeleton height="4rem" />
      </div>
    </div>
  </div>

  <div *ngIf="LoadUI" class="min-h-screen pt-5">
    <div
      class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 gap-6"
    >
      <a
        [routerLink]="['/settings/my-profile']"
        class="flex items-start p-5 bg-white border border-gray-200 rounded-lg shadow-sm hover:shadow-md transition"
      >
        <div
          class="w-10 h-10 rounded-md bg-purple-100 flex items-center justify-center text-purple-600 mr-4"
        >
          <i class="fa-solid fa-address-card"></i>
        </div>
        <div>
          <h3 class="text-gray-900 font-medium">My Profile</h3>
          <p class="text-sm text-gray-500">
            View plans, invoices, and payments
          </p>
        </div>
      </a>

      <!-- Tile -->
      <!-- <a
        [routerLink]="['/settings/supplier-summary']"
        class="flex items-start p-5 bg-white border border-gray-200 rounded-lg shadow-sm hover:shadow-md transition"
      >
        <div
          class="w-10 h-10 rounded-md bg-blue-100 flex items-center justify-center text-blue-600 mr-4"
        >
          <i class="fa-solid fa-truck-field"></i>
        </div>
        <div>
          <h3 class="text-gray-900 font-medium">Supplier Summary</h3>
          <p class="text-sm text-gray-500">Manage your suppliers here</p>
        </div>
      </a> -->

      <!-- Security -->
      <!-- <a
        [routerLink]="['/settings/stock-settings']"
        class="flex items-start p-5 bg-white border border-gray-200 rounded-lg shadow-sm hover:shadow-md transition"
      >
        <div
          class="w-10 h-10 rounded-md bg-green-100 flex items-center justify-center text-green-600 mr-4"
        >
          <i class="fa-solid fa-glasses"></i>
        </div>
        <div>
          <h3 class="text-gray-900 font-medium">Stock Settings</h3>
          <p class="text-sm text-gray-500">Manage your stocks here</p>
        </div>
      </a> -->

      <!-- Notifications -->
      <a
        [routerLink]="['/settings/user-settings']"
        class="flex items-start p-5 bg-white border border-gray-200 rounded-lg shadow-sm hover:shadow-md transition"
      >
        <div
          class="w-10 h-10 rounded-md bg-yellow-100 flex items-center justify-center text-yellow-600 mr-4"
        >
          <i class="fa-solid fa-users-gear"></i>
        </div>
        <div>
          <h3 class="text-gray-900 font-medium">User Settings</h3>
          <p class="text-sm text-gray-500">
            Manage users and their permissions
          </p>
        </div>
      </a>

      <!-- Integrations -->
      <a
        [routerLink]="['/settings/branch-summary']"
        class="flex items-start p-5 bg-white border border-gray-200 rounded-lg shadow-sm hover:shadow-md transition"
      >
        <div
          class="w-10 h-10 rounded-md bg-cyan-100 flex items-center justify-center text-cyan-600 mr-4"
        >
          <i class="fa-solid fa-store"></i>
        </div>
        <div>
          <h3 class="text-gray-900 font-medium">Branches</h3>
          <p class="text-sm text-gray-500">View and Manage your Branches</p>
        </div>
      </a>
    </div>
  </div>
</section>
